.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #5a5a5b;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #5a5a5b;
      font-size: 18px;
      position: absolute;
      margin-top: 40px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
    img {
      width: 53px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 0.2s linear both;
      animation-delay: 1.4s;
    }
  }
}

h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;

  &::before {
    content: '<p>';
    font-family: 'La Belle Aurore';
    color: #5a5a5b;
    font-size: 16px;
    position: absolute;
    margin-top: -20px;
    left: -15px;
    opacity: 0.6;
  }

  &::after {
    content: '</p>';
    font-family: 'La Belle Aurore';
    color: #5a5a5b;
    font-size: 16px;
    position: absolute;
    margin-top: 15px;
    left: -15px;
    animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
  }
}

.flat-button {
  color: #fe00ae;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #fe00ae;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background: #fe00ae;
    color: #333;
  }
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@media screen and (max-width: 576px) {
  .home-page {
    .h1 {
      font-size: 32px;
      margin-top: -146px;

      &::before {
        font-size: 14px;
      }

      &::after {
        margin-top: 50px;
        margin-left: -27px;
        font-size: 14px;
      }
      img {
        width: 43px;
      }
    }
    h2 {
      display: table-caption;
      margin-top: 83px;
      font-size: 11px;
      letter-spacing: 5px;
      margin-left: 13px;

      &::before {
        font-size: 16px;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: #5a5a5b;
        font-size: 16px;
        position: absolute;
        margin-top: 11px;
        left: -15px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
    }
  }

  .flat-button {
    margin-top: 68px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
}
